.content {
    margin: 5vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: var(--color-gray-light);
    align-items: center;
    justify-content: center;
 }